{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_users_style.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
  <form class="form" method="post">
    {{ form.csrf_token }}

    <h1 class="form__title">Change Password</h1>

    <div class="form__group">
      <input type="password" id="current_password" name="current_password" class="form__input" placeholder=" " required>
      <label for="current_password" class="form__label">Current Password</label>
      {% for error in form.current_password.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="form__group">
      <input type="password" id="new_password" name="new_password" class="form__input" placeholder=" " required>
      <label for="new_password" class="form__label">New Password</label>
      {% for error in form.new_password.errors %}
        <p class="validation-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <button type="submit" class="form__button">Submit</button>
  </form>
</div>
{% endblock %}
