/* Stock List Styling
 ********************/
.stock-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: .9rem;
}

.stock-table-heading {
  display: flex;
  justify-content: space-between;
}

.stock-table-heading-links {
  display: flex;
  justify-content: space-between;
}

td, th {
  border: 1px solid #ddd;
  padding: 1.0rem 0.8rem;
  overflow: hidden;
}

th {
  padding-bottom: .8rem;
  border-top: 2px solid #DDD;
  border-bottom: 4px solid #DDD;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #F9F9F9;
}

tfoot td {
  background-color: #DDD;
}

table a {
  text-decoration: underline;
  font-weight: 700;
}

.stock-actions {
  display: flex;
  justify-content: space-around;
}

.stocks-actions-link + .stocks-actions-link {
  margin-left: 0.5rem;
}


/* Admin - Users View
 ********************/
.users-actions-link {
  display:inline-block;
  padding:0.3em 0.7em;
  margin:0 0.1em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: 500;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.users-actions-link:hover{
  background-color:#4095c6;
}

.users-actions-link:visited {
  color:#FFFFFF;
}

.add-button, .add-button-secondary {
  padding: 12px 24px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 3px;
  border: none;
  margin-bottom: 0.5em;
  text-decoration:none;
}

.add-button {
  background-color: darkgreen;
  color: white;
}

.add-button-secondary {
  background-color: #5f6d98;
  color: white;
  margin-right: 0.5rem;
}

.add-button:hover {
  background-color: #115402;
  cursor: pointer;
}

.add-button-secondary:hover {
  background-color: #444f6e;
  color: white;
  cursor: pointer;
}

.add-button:disabled, .add-button-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-button:visited, .add-button-secondary:visited {
  text-decoration:none;
  color: white;
}

/* Cell Highlighting
 *******************/
.highlight-green {
  background-color: #67a75a;
}

.highlight-yellow {
  background-color: #e3e388;
}

.highlight-red {
  background-color: #912d2d;
  color: white;
}

.highlight-brightred {
  background-color: #f62222;
  color: white;
}